body{
    font-family: IBM Plex Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,PingFangSC,Arial,Microsoft YaHei\,,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol!important;
}
.text{
    text-align: center;
    font-style: italic;
    padding-top: 300px;
}